/* .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;
  width: 960px;
  height: 1080px;
  background-color: #4C79FF;
}

.cover img {
  width: 264px;
  height: 200px;
}

.cover p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
} */