@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("/Pretendard-Regular.ttf");
}

/* 스크롤바 가로 세로 지우기 */
html, body, #root {
  margin: 0;  
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* 폰트 설정 */
body {
  font-family: "Pretendard";
  letter-spacing: 0%;
}


